* {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .fondo{
    background: linear-gradient(#000706, #00272d);
    
  }
  
  .logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 2%;
  }
  
  main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
  }
  
  .text-area {
    width: 70%;
    height: 264px;
    border: none;
    resize: none;
    font-size: 32px;
    margin-top: 90px;
    text-transform: lowercase;
    Background-color: transparent;  
    color: white;
  }
  ::placeholder {
    color: #bfac8b;
    font-size: 32px;
  }
  .text-area:focus {
    outline: none;
  }
  
  .mensaje {
    width: 400px;
    height: 500px;
    background: #00272d;
    border: none;
    border-radius: 24px 24px 24px 24px;
    margin-left: 98px;
    margin-top: 20px;
    position: absolute;
  }
  
  .mensaje:focus {
    outline: none;
  }
  
  .mensaje img {
    background-color: #00272d;
    width: 85%;
    padding: 0px 30px;
    margin-top:24px;
  }

  .mensaje h6 {
    background-color: #00272d;
    color: #bfac8b;
    width: 336px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
  }
  
  .mensaje p {
    background-color: #00272d;
    color: #dacdac;
    width: 336px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  
  .botones {
    display: flex;
    margin-top: 18px;
  }

  .btn-encriptar {
    background-color: #0c7e7e;
    border: 1px solid #0c7e7e;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
  }
  
  .btn-desencriptar {
    background: #95c68f;
    border: 1px solid #95c68f;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
  }

  .informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    font-size: 12px;
  }
  
  .informacion h6 { 
    color: #bfac8b;  
    margin: 19px;
  }

  .resultado {
    font-weight: 400;
    font-size: 24px;
    color: white;
  }
  
  #copiar{
    background: #0c7e7e;
    border: 1px solid #0c7e7e;
    border-radius: 24px;
    color:white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    margin-top: 65px;
    width: 328px;
  }

#cajaRespuesta {
    border: none;
    background-color: #00272d;
    border-radius: 32px;
    resize: none;
    width: 350px;
    height: 300px;
    padding: 24px;
    color: white;
}

#cajaRespuesta:focus{
    outline: none;
}
  
@media screen and (min-width:0px) and (max-width:375px){

  .logo{
    width: 7%;
  }

  main{
    display: block;
    margin-bottom: 50px;
    margin-left: 15px;
    width: 90%;
  }

  .text-area{
    width: 375px;
    margin-top: 40px;
    margin-right: 5px;
  }
  
  .mensaje {
    width: 365px;
    margin: 0px; 
  }

  .mensaje img {
    display: none;
  }

  .botones{
    display: block;
  }

  .btn-encriptar {
    width: 365px;
  }

  .btn-desencriptar{
    width: 365px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #cajaRespuesta{
    width: 300px;
    padding: 10px;
  }

}
